@{
    ViewBag.Title = "Daryll the Painter";
}

<h2>Daryll the Painter</h2>

<div>
    <p>Description of painting service.</p>
    <p>Phone: 000-000-0000</p>
    <p>
        <address>
            1234 Some St.<br />
            City, ST 12345
        </address>
    </p>
</div>
