
@{
    ViewBag.Title = "Upcoming Events";
}

<h2>Upcoming Events</h2>

<p>
    This page will show you the upcoming events.  As an event becomes "old", it will automatically fall off of this
    page.  That means you'll have to keep new events entered in a timely manner, or eventually it might say "No events found." 
    when it runs out of upcoming events.
</p>

<div>
    <h3>Event Name</h3>

    <div>
        <p>This is the best event description you'll ever see.  You know you want to sign up.  Go ahead, it's ok.</p>
        <div>
            <p>Date: 01/01/15  Time: 5pm-6pm</p>
            <p><a class="btn btn-default" href="/Events/Signup">Sign Up &raquo;</a></p>
        </div>
    </div>
    
</div>

<div>
    <h3>Event Name</h3>

    <div>
        <p>This is the best event description you'll ever see.  You know you want to sign up.  Go ahead, it's ok.</p>
        <div>
            <p>Date: 01/01/15  Time: 5pm-6pm</p>
            <p><a class="btn btn-default" href="/Events/Signup">Sign Up &raquo;</a></p>
        </div>
    </div>

</div>

<div>
    <h3>Event Name</h3>

    <div>
        <p>This is the best event description you'll ever see.  You know you want to sign up.  Go ahead, it's ok.</p>
        <div>
            <p>Date: 01/01/15  Time: 5pm-6pm</p>
            <p><a class="btn btn-default" href="/Events/Signup">Sign Up &raquo;</a></p>
        </div>
    </div>

</div>

<div>
    <h3>Event Name</h3>

    <div>
        <p>This is the best event description you'll ever see.  You know you want to sign up.  Go ahead, it's ok.</p>
        <div>
            <p>Date: 01/01/15  Time: 5pm-6pm</p>
            <p><a class="btn btn-default" href="/Events/Signup">Sign Up &raquo;</a></p>
        </div>
    </div>

</div>
