
@{
    ViewBag.Title = "Resources";
}

<h2>Resources</h2>

<p>Together the Community at Large & PRO offers a unique resource of opportunities, educational seminars, job postings and more! For further questions please feel free to call PRO at (419) 471-0101 or email us today at <a href="mailto:info@hireaprotoday.com">info@hireaprotoday.com</a>.</p>

<h3>Pro Events</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Education</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Residential Code</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Permit Requirements</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Licensing Procedures</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Industry Links</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Trade Publications</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Social Networks</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

<h3>Going Green</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus laoreet lorem, vel consectetur orci consequat gravida. Nulla a tincidunt velit, quis venenatis ligula. Aliquam lacinia tortor est, id tempus massa tempus vel. Integer ultricies suscipit quam. Pellentesque consectetur arcu vitae dui interdum scelerisque. Donec imperdiet maximus dui, feugiat eleifend massa finibus ac. Maecenas quis sem eget diam laoreet dictum sit amet sit amet ipsum. Duis sed sollicitudin ipsum. Aliquam vel dictum ipsum. Morbi vitae augue ornare, scelerisque purus sit amet, congue mi. Praesent id luctus arcu. Morbi in sapien a tellus consequat vulputate a vitae nisi.</p>

