@{
    ViewBag.Title = "About PRO";
}
<h2>@ViewBag.Title</h2>

<h3>Mission</h3>

<p>The object of the Professional Remodelers Organization, Inc. (PRO) is to encourage and foster the ideal of service as a basis of worthy enterprise and in particular, to encourage and foster:</p>

<p>FIRST: The development of acquaintance as an opportunity for service;</p>

<p>SECOND: High ethical standards in business and professions; the recognition of the worthiness of all useful occupations and the dignifying by each member of his occupation as an opportunity to serve society;</p>

<p>THIRD: The application of the ideal of service by every member to his personal, business and community life;</p>

<p>FOURTH: The advancement of understanding, good will and peace through fellowship of business and professional persons united in the idea of service.</p>

<h3>History</h3>

<p>Professional Remodelers Organization (PRO), formerly known as the Toledo Home Remodelers Association (THRA) is an organization made up of local businesses representing over 40 different types of home improvement contractors, suppliers and supportive companies in the remodeling industry throughout Northwest Ohio and Southeastern Michigan.</p>

<p>In existence since 1968, PRO is committed to integrity within the remodeling industry. All members subscribe to a common code of ethics requiring adherence to established business and professional standards. Through this common commitment, members gain the advantage of consumer confidence and credibility. PRO is well recognized in the Northwest Ohio and Southeast Michigan area for its efforts to assure quality, longevity, and efficiency within the home remodeling industry.</p>

<p>Not only was PRO instrumental in organizing licensing for remodelers in Toledo, Ohio, PRO has a committee to review complaints involving contract disputes with other members of the Association. All members of PRO are dedicated to excellence, and the area consumers have come to recognize the "stamp of approval" the PRO membership logo provides.</p>

<p>The Professional Remodelers Organization is a not-for-profit trade association committed exclusively to the service of the professional remodeling industry. Our mission statement is to promote professionalism in the remodeling industry. The PRO has over 40 years of industry experience. The PRO represents professional remodeling contractors, product manufacturers, distributors, wholesalers, trade publications, and lending institutions. The association is committed to enhancing the professionalism of the remodeling industry and serving as an ally to homeowners in the Northwest Ohio and Southeast Michigan areas.</p>

<p>Our goal is to educate the community that PRO is in the area to help them. The lowest estimate is not always the best deal. When interviewing contractors for your project, do not blindly accept the lowest estimate. Ask the contractor why his price is higher or lower than another. Are all contractors planning to build the same project? Have all contractors considered all the details necessary for your project's success? Often times, a higher price may be worth the cost of better materials and service. Remember your remodeling dollars spent represent a permanent investment in the home you will spend countless memorable hours in. Choosing a company with which you feel at ease and one that is well-matched to the scope and complexity of your particular project is extremely important.</p>

<p>The PRO membership is composed of only licensed and insured contractors who are in good standing with the local remodeling community and have at least two years experience in their field. All applicants for membership are thoroughly scrutinized and agree to adhere to a strict Code of Ethics. The PRO logo is a mark of a professional. Look for the PRO logo, call the PRO office for a free directory of our entire membership, or go to the PRO website at www.hireaPROtoday.com to find out more.</p>

<p>If you are a contractor and are interested in joining we have much to offer you. As a member you would be entitled to save on health insurance designed for small businesses, a substantial savings on your premiums for workman’s compensation, Speedway Fleet program where you would receive a discount on every gallon of gas you purchase, referrals, listed in the complimentary directory that we pass out to the community, a listing on our PRO membership website, college scholarships for members and workers, and much more. Call the PRO office at ((419) 471-0101) or email us at <a href="mailto:info@hireaprotoday.com">info@hireaprotoday.com</a> and we will be glad to tell you about all the benefits of joining the PRO team today.</p>

<h3>Code of Ethics</h3>

<p>This Code of Ethics is subscribed to, enacted and directed to the elimination and prevention of unethical practices and unfair trade practices in the home and building improvement and remodeling contracting business to the end that the business of the industry may be conducted under fair and competitive conditions and that the public, as well as the industry, may be protected from such harmful practices.</p>

<p>PRO Code Of Ethics:</p>

<p>The promotion of sale through the use of deception by means of advertisements, personal solicitations, or other representations or selling methods which promise secret rebates or commissions for the use of the customers house as a "model" or "demonstration" job is unethical.</p>

<p>Any basis for compensating of sales people which encourages sales people to charge unreasonable prices to customers is unethical.</p>

<p>The practice of misrepresenting that a person or persons is a ranking official or officials of a manufacturer or other outside agency brought on solely for the reason of his interest in a customer's particular contract is unethical.</p>

<p>The use of an implied guarantee by a government agency or a lending agency, or a statement that anyone else will assume obligation of the note, in the event the customer cannot pay, or the securing of a Certificate of Completion prior to the completion of the work called in the contract, is unethical.</p>

<p>Imitation of trade marks, trade names, labels, brands, or other distinctive words, phrases or marks of competitors, with the capacity of tendency of effect of misleading or deceiving the customer is unethical.</p>

<p>The defamation of competitors by falsely imparting to others dishonorable conduct, inability to perform contracts, questionable credit standing; or the false disparagement of the grade, quality or manufacture of the products to be sued by competitors, is unethical.</p>

<p>A guarantee for a longer period than is customary in the trade for the local area is unethical.</p> 

<p>The inducing or attempt to induce a breach of contract between competitors and their customers by any means, is unethical.</p>

<p>Willfully enticing away the employees of competitors is unethical.</p>

<p>The willful failure to perform all contractual obligations is unethical.</p>

<p>The failure to perform work in compliance with local laws for the public health and safety shall be unethical.</p>

<p>This Code of Ethics is not for the purpose of suppressing competition to restrain trade, fix or control price through combination or agreement, or otherwise injure, destroy or prevent competition.</p>

<h3>2015 PRO Board of Trustees</h3>

<p>President<br />
Priscilla D'Anniballe - Paul Davis Restoration</p>

<p>President Elect<br />
Jamie Wietrzykowski (4 Guys and A Roof)</p>

<p>VP Secretary/Treasurer<br />
Kirk Wylie (Kirk Wylie Masonry LLC)</p>

<p>Immediate Past President<br />
Michael Lang (Lang Electric)</p>

<p>Past President Committee Chair<br />
Jim Mossing (SMB Construction Company, Inc.)</p>

<p>Associate Council Chairman<br />
Kelly Tyson (Allied Building Products)</p>

<p>
    Board Members - One Year Term<br />
    Scott Hinz (Total Quality Construction)<br />
    Sheri Johnson (Allied Building Products)>br />
    Bob VanOrden (Modern Builders Supply)</p>

<p>Board Members - Two Year Term<br />
Eric Walton (Owens Corning)<br />
John Parker (Quality Overhead Door)<br />
Art Swearengen (Toledo Door and Window)</p>

<p>PRO Staff<br />
Renee' Mani – Executive Secretary</p>

<h3>Scholorship Program</h3>

<p>The object of the Professional Remodelers Organization, Inc. (PRO) is to encourage and foster the ideal of service as a basis of worthy enterprise...</p>

<p>Therefore, PRO established a scholarship program for the relatives of PRO members. The annual scholarship program’s purpose is to identify and honor exceptionally able high school and college students, and to provide additional financial assistance to the student.</p>

<p>Who Is Eligible?</p>

<p>High school or college students who are relatives of PRO members can apply for this scholarship. Scholarship recipients will be required to be present and offer an acceptance speech at the May general membership meeting of PRO. In August scholarship recipients will provide PRO with a copy of their scheduled classes, and in return will receive their scholarship check. Recipients can only win one scholarship.</p>

<p>To apply for the scholarship, students must submit this application form, along with the requirements listed below, from March 1st thru April 30th. All applications must be postmarked by April 30 or received in the PRO office by April 30.</p>

<p>How Winners Are Selected</p>

<p>Scholarship winners will be chosen on a competitive basis based on their scholastic achievements. Requirements for application are:</p>

<ul>
    <li>Copy of high school or college transcript, minimum GPA of 3.0</li>
    <li>250 word essay “What does a college education mean to me”.</li>
    <li>Letter of acceptance from an accredited institution for higher education.</li>
    <li>Letter of recommendation from a teacher, employer or clergy member.</li>
    <li>Completed application form. Forms not fully completed will not be considered.</li>
</ul>

<h3>President's Project</h3>

<em>In process of being moved to another page...</em>

