@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Professional Remodelers Organization<br />
    <address>
        6755 W Central Ave, STE 105<br />
        Toledo, OH 43617
    </address>
</p>

<p>Phone: (419) 471-0101</p>
<p>Fax: (419) 471-0027</p>

<p>General PRO Inquiries: <a href="mailto:info@hireaprotoday.com">info@hireaprotoday.com</a></p>

<p>Executive Officers Email<br />
    Renee' Mani - <a href="mailto:renee@hireaprotoday.com">renee@hireaprotoday.com</a></p>

