@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRO</h1>
    <p class="lead">The Professional Remodelers Organization (PRO) is your resource to find the best contractors and suppliers for all home remodeling needs.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Homeowners</h2>
        <p>Looking for a contractor?  Want to take classes?  Check out all that we have to offer!</p>

        <p><a class="btn btn-default" href="/Homeowners/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Members</h2>
        <p>Access your member benefits and sign up for classes here.</p>
        <p><a class="btn btn-default" href="/Members/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Non-Members</h2>
        <p>PRO can help you grow your company.  Let us help you!</p>
        <p><a class="btn btn-default" href="/NonMembers/Index">Learn more &raquo;</a></p>
    </div>
</div>