@{
    ViewBag.Title = "Non-Members";
}

<h2>Non-Members</h2>

<p>Benefits of joining PRO:</p>

<ul>
    <li>Health Insurance program designed for small businesses.</li>
    <li>Workers Comp Group Rating Pool available to reduce premiums.</li>
    <li>PRO Logo on your contract makes the job easier to sell - It shows a sign of professionalism and credibility!</li>
    <li>Monthly membership dinner meetings, sponsored by fellow PRO members to allow you to network with other members, and also providing you with a guest speaker to speak on various subjects related to the trade.</li>
    <li>Directory published on an annual basis and displays a wide variety of goods and services available to homeowners. When considering any work that needs to be done, think PRO and consult your directory.</li>
    <li>Membership directory serves as an information center for the public... directing business to our members. The directory is mailed to consumers seeking home improvement contractors AND IS DISTRIBUTED AT KEY RETAIL LOCATIONS THROUGHOUT NORTHWEST OHIO - INCLUDING THE ANDERSONS AND TIREMAN LOCATIONS TO NAME A FEW!</li>
    <li>E-Newsletter, each issue features articles related to the trade, calendar of events, profiles of new members and new member listings. Display and business card ads available at a reasonable cost.</li>
    <li>Continuing education offers license preparation classes for contractors wanting to become licensed to do work in the City of Toledo, along with other informative seminars.</li>
    <li>HireaPROtoday.com, each member receives a complimentary listing on the PRO website, with the option to display photos of completed projects at a nominal fee.</li>
    <li>Annual PRO Home Improvement and Garden Show Exhibit Discount - We are proud to host the areas largest remodeling show at Seagate Convention Centre every year. Members have an opportunity to display their product or service to the public. Members always receive a member discount for their booth space.</li>
    <li>Speedway Fleet discount program available at over 5800 stores Nationwide.</li>
    <li>Tireman VIP Plus discount plan available to all members.</li>
    <li>Social events: Golf Outing, Mud Hens Outing, Holiday Gathering, and more.</li>
    <li>College Scholarships for family members or employees of member companies.</li>
    <li>Sponsor a new member and receive $50.00.</li>
    <li>Dave White Chevrolet Fleet Discount - Call For Details.</li>
</ul>

<h2>Services and Discounts</h2>

<p>As a PROmember you have many benefits. Below are the highlights!</p>

<p>
    Health Insurance:
    Offered through Savage & Associate. Contact Jim Herrick at 419-475-8665 or Jim.Herrick@savageandassociates.com for your insurance needs.
</p>

<p>
    All Insurance Needs:
    Auto Owners Insurance Company, through our agent, Mullan Insurance Services, Inc., has announced that PRO and its members have qualified as a “Preferred Group”! Each member is now eligible for a 10% discount on personal and business insurance that is placed through the Auto Owners Insurance Company. Call Mike at 419-478-7556 for all your insurance needs.
</p>

<p>
    Workers’ Compensation:
    Offered through Baylor Associates, Inc. You can contact Bruce Baylor by calling 800-433-1922 or bbaylor@baylorwc.com.
</p>

<p>
    Lead Paint Brochures and Forms:
    Are available at the office for $20.00 for 40 booklets.
</p>

<p>
    Meeting Room Available:
    Free of charge during the business hours. The room can accommodate up to 20 people. There is a charge if you would like to use the room after business hours.
</p>

<p>
    Association Fueling Program – Speedway SuperAmerica LLC.:
    Discounted fuel prices, oil changes and car washes. Contact John Kennedy 800-220-6572 x222 or JMKennedy@ssallc.com.
</p>

<p>
    PRO Home Improvement & Garden Show Booth Rental Discount:
    PRO members save $300 per booth!
</p>

<h2>Membership Applications</h2>
<ul>
    <li><a href="~/Content/Forms/Contractor Membership Application-2013.pdf">Contractor Application</a></li>
    <li><a href="~/Content/Forms/Associate Membership Application-2013.pdf">Associate Application</a></li>
</ul>


