@{
    ViewBag.Title = "Album";
}

<h2>Album Name</h2>

<div style="float:left;margin:5px;">
    <img src="http://lorempixel.com/300/300/cats/1" />
</div>
<div style="float:left;margin:5px;">
    <img src="http://lorempixel.com/300/300/cats/2" />
</div>
<div style="float:left;margin:5px;">
    <img src="http://lorempixel.com/300/300/cats/3" />
</div>
<div style="float:left;margin:5px;">
    <img src="http://lorempixel.com/300/300/cats/4" />
</div>
<br style="clear:all;" />

