@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra, felis vel vestibulum iaculis, libero nisi
    tristique nisi, nec pharetra elit libero et velit. Ut bibendum arcu ut leo ultricies tincidunt. Fusce ac lectus
    blandit, tincidunt urna vitae, scelerisque odio. Donec luctus mattis metus, quis sollicitudin justo porttitor a.
</p>

<ul>
    <li><a href="/Photos/Album">Album 1</a></li>
    <li><a href="/Photos/Album">Album 2</a></li>
    <li><a href="/Photos/Album">Album 3</a></li>
    <li><a href="/Photos/Album">Album 4</a></li>
    <li><a href="/Photos/Album">Album 5</a></li>
</ul>
